<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.placementcell">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:name=".MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@drawable/student"
        android:label="Placement Cell"
        android:roundIcon="@drawable/student"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChatBot"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Report"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".DisplayStudent"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ResetPasswordActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Notification"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Student"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" /> <!-- To use multiple models: android:value="barcode,model2,model3" -->
        <activity
            android:name=".addForumData"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".addForumActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CompanyDetails"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Company"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".StudentInfo"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Register"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".BarcodeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".InsertCompany"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Notification">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>